body {
    background-color:rgb(196, 213, 208);
}

html {
  scroll-behavior: smooth;
}

.page {
  display: flex;          /* puts both divs side by side */
  align-items: center;   /* vertically centers image with text */
  gap: 50px;             /* space between text + image */
}

.text-section {
  flex: 1;
}

.image-section {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between; /* pushes logo left, nav right */
  align-items: center;
}

.nav a {
  margin-left: 20px;
}

.home,
.about,
.services {
  display: flex;
  justify-content: space-between; /* left = text, right = image */
  align-items: center;            /* vertical centering */
  height: 100vh;
  padding: 0 50px;                /* horizontal padding */
  box-sizing: border-box;
}

.contact {
  display: flex;
  justify-content: space-between; /* left = text, right = image */
  align-items: center;            /* vertical centering */
  height: 100vh;
  padding: 0 30px;                /* horizontal padding */
  box-sizing: border-box;
}



